annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
fastapi==0.141.1
groq==1.7.0
h11==0.16.0
idna==3.19
packaging==26.3
pydantic==2.13.5
pydantic_core==2.46.5
pypdf==6.18.1
python-dotenv==1.0.0
setuptools==83.0.0
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
wheel==0.47.0